<!doctype html>
<body>
  <div class="mx-auto">
    <div class="card-group">
      <div class="card w-25">
        <div class="card-header">
          <h5 class="card-title">Messages</h5>
        </div>
        <div class="card-body">
        </div>
      </div>
      <div class="card w-75">
        <div class="card-header">
          <h5 class="card-title">Here are your Matches</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Jordan Olivarez</li>
            <li class="list-group-item">Olivia LaQua</li>
            <li class="list-group-item">Anissa Amarillas</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</body>
